<div class="product-images-slider-container">
    <div class="product-images-slider swiper-container">
        <div class="swiper-wrapper">
            {%- for media in product.media -%}
            <div  thumbnail-alt="{{ media.alt }}" class="product-images-slide swiper-slide"
            {% if product.selected_or_first_available_variant.featured_image.alt != media.alt and product.selected_or_first_available_variant.featured_image.alt != blank %}
                style="display: none;"
              {% endif %}>
                {% assign media_alt = media.alt | default: product.title  %}
                {% render 'image-snippet', image: media, alt: media_alt, lazyload: 'lazy'  %}
            </div>
            {%- endfor -%}
        </div>
        <div class="product-image-slider-container">
            <div class="product-image-slider-arrows">
                <div class="swiper-button-prev">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M10 16L6 12M6 12L10 8M6 12L18 12" stroke="black"/>
                    </svg>
                </div>
                <div class="product-image-pagination swiper-pagination"></div>
                <div class="swiper-button-next">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M14 16L18 12M18 12L14 8M18 12L6 12" stroke="black"/>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>