<section class="about-marquee-section">
    <div class="about-marquee-main">
        <div class="about-marquee-slider swiper-container">
            <div class="swiper-wrapper">
                {% if section.settings.marquee != blank %}                    
                    <div class="about-marquee-slide swiper-slide">
                        <h2> {{ section.settings.marquee }} </h2>
                    </div>
                {% endif %}
                {% if section.settings.marquee != blank %}                    
                    <div class="about-marquee-slide swiper-slide">
                        <h2> {{ section.settings.marquee }} </h2>
                    </div>
                {% endif %}
                {% if section.settings.marquee != blank %}                    
                    <div class="about-marquee-slide swiper-slide">
                        <h2> {{ section.settings.marquee }} </h2>
                    </div>
                {% endif %}
                {% if section.settings.marquee != blank %}                    
                    <div class="about-marquee-slide swiper-slide">
                        <h2> {{ section.settings.marquee }} </h2>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>


{% schema %}
    {
        "name" : "Marquee",
        "settings": [
            {
                "type": "text",
                "id": "marquee",
                "label": "Text",
                "default": "We're more than just a clothing brand •"
            }
        ]
    }
{% endschema %}