<section class="about-jon-section bg-sky">
    <div class="container">
        <div class="about-jon-main">
            <div class="about-jon-content">
                <h2>About johnny crumbo</h2>
                <p>We're more than just a clothing brand - we're on a mission to make a difference. A percentage of every purchase goes towards supporting organizations dedicated to the welfare of cats and dogs. With your help, we can ensure that every pet receives the care and love they deserve.</p>
            </div>
        </div>
    </div>
</section>

{% schema %}
    {
        "name" : "Richtext",
        "settings": []
    }
{% endschema %}