<section class="about-founder-section">
    <div class="about-founder-main">
        <div class="about-founder-flex flex-class">
            <div class="about-founder-left">
                <div class="about-founder-image">
                    <img src="./images/founder.png" alt="Image">
                </div>
            </div>
            <div class="about-founder-right">
                <div class="about-founder-content">
                    <h2>Founder of  johnny crumbo</h2>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                    <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                </div>
                <div class="about-founder-info">
                    <div class="founder-name-role">
                        <h4>Hormoz Barandar </h4>
                        <h5>President & Co-Founder</h5>
                    </div>
                    <div class="founder-sign">
                        <img src="./images/signature.png" alt="Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
    {
        "name" : "Founder",
        "settings": []
    }
{% endschema %}