    <section class="about-banner-section">
    <div class="about-banner-main">
        <div class="about-banner-flex flex-class">
            <div class="about-banner-left">
                <div class="about-banner-content">
                    <h1> {{- page.title -}} </h1>
                    <div class="richtext-content">
                        {{ page.content }}
                    </div>
                </div>
            </div>
            <div class="about-banner-right">
                <div class="about-banner-image">
                    {% render 'image-snippet', image: section.settings.image, lazyload: 'eager'  %}
                </div>
            </div>
        </div>
    </div>
</section>


{% schema %}
    {
        "name" : "Banner",
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
            }
        ]
    }
{% endschema %}