<section class="about-marquee-section">
    <div class="about-marquee-main">
        <div class="about-marquee-slider swiper-container">
            <div class="swiper-wrapper">
                <div class="about-marquee-slide swiper-slide">
                    <h2>We're more than just a clothing brand • </h2>
                </div>
                <div class="about-marquee-slide swiper-slide">
                    <h2>We're more than just a clothing brand •</h2>
                </div>
                <div class="about-marquee-slide swiper-slide">
                    <h2>We're more than just a clothing brand • </h2>
                </div>
                <div class="about-marquee-slide swiper-slide">
                    <h2>We're more than just a clothing brand •</h2>
                </div>
            </div>
        </div>
    </div>
</section>


{% schema %}
    {
        "name" : "Marquee",
        "settings": []
    }
{% endschema %}