<section class="contact-form-section">
    <div class="contact-form-main">
        <div class="contact-form-flex flex-class">
            <div class="contact-form-left">
                <div class="contact-form-image">
                    <img src="./images/contact.png" alt="Image">
                </div>
            </div>
            <div class="contact-form-right">
                <div class="contact-form-container">
                    <div class="contact-form-head">
                        <h2>How can we help you?</h2>
                    </div>
                    <form action="">
                        <div class="form-field">
                            <input type="text" placeholder="First name">
                        </div>
                        <div class="form-field">
                            <input type="text" placeholder="Last name">
                        </div>
                        <div class="form-field">
                            <input type="email" placeholder="Email address">
                        </div>
                        <div class="form-field">
                            <input type="tel" placeholder="phone number">
                        </div>
                        <div class="form-message-field">
                            <textarea placeholder="Your message"></textarea>
                        </div>
                        <div class="form-submit-button">
                            <button type="submit">
                                <span>submit</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
    {
        "name" : "Image with Form",
        "settings": []
    }
{% endschema %}