<section class="contact-options-section">
    <div class="container">
        <div class="contact-options-main">
            <div class="contact-options-flex flex-class">
                <div class="contact-option-single">
                    <div class="single-option-flex flex-class">
                        <div class="option-icon">
                            <a href="tel:(01) 123 123 1">
                                <img src="./images/phone.svg" alt="Icon">
                            </a>
                        </div>
                        <div class="option-name">
                            <h6>Contact Us</h6>
                            <h2><a href="tel:(01) 123 123 1">(01) 123 123 1</a></h2>
                        </div>
                    </div>
                </div>
                <div class="contact-option-single">
                    <div class="single-option-flex flex-class">
                        <div class="option-icon">
                            <a href="mailto:ikonik@gmail.com">
                                <img src="./images/mail.svg" alt="Icon">
                            </a>
                        </div>
                        <div class="option-name">
                            <h6>Email Us</h6>
                            <h2><a href="mailto:ikonik@gmail.com">ikonik@gmail.com</a></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
    {
        "name" : "Contact Options",
        "settings": []
    }
{% endschema %}