<section class="feature-collection-section {{ section.settings.class }}">
    <div class="collection-main">
        <div class="collection-head section-head">
            <h2 class="black">meet our best sellers</h2>
        </div>
        <div class="collection-slider-controller">
            <div class="collection-slider-arrows">
                <div class="swiper-button-prev">
                    {% render 'slider-prev-arrow' %}
                </div>
                <div class="collection-pagination swiper-pagination"></div>
                <div class="swiper-button-next">
                   {% render 'slider-next-arrow' %}
                </div>
            </div>
        </div>
        <div class="collection-container">
            <div class="collection-slider swiper-container">
                <div class="swiper-wrapper">
                    <div class="collection-slide swiper-slide">
                        <div class="collection-card">
                            <a href="#.">
                                <div class="product-card-image">
                                    <img src="./images/product-1.png" alt="Image">
                                    <div class="product-card-form">
                                        <form method="post">
                                            <button type="button">quick view</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="card-product-info">
                                    <div class="card-product-info-flex flex-class">
                                        <div class="card-product-info-left">
                                            <h5>Johny Crumbo Cap (Black)</h5>
                                            <h6>Johny Crumbo</h6>
                                        </div>
                                        <div class="card-product-info-right">
                                            <div class="card-product-price">
                                                <span>$42</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="collection-slide swiper-slide">
                        <div class="collection-card">
                            <a href="#.">
                                <div class="product-card-image">
                                    <img src="./images/product-2.png" alt="Image">
                                    <div class="product-card-form">
                                        <form method="post">
                                            <button type="button">quick view</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="card-product-info">
                                    <div class="card-product-info-flex flex-class">
                                        <div class="card-product-info-left">
                                            <h5>Johny Crumbo T-Shirt</h5>
                                            <h6>Johny Crumbo</h6>
                                        </div>
                                        <div class="card-product-info-right">
                                            <div class="card-product-price">
                                                <span>$42</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="collection-slide swiper-slide">
                        <div class="collection-card">
                            <a href="#.">
                                <div class="product-card-image">
                                    <img src="./images/product-1.png" alt="Image">
                                    <div class="product-card-form">
                                        <form method="post">
                                            <button type="button">quick view</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="card-product-info">
                                    <div class="card-product-info-flex flex-class">
                                        <div class="card-product-info-left">
                                            <h5>Johny Crumbo Cap (Black)</h5>
                                            <h6>Johny Crumbo</h6>
                                        </div>
                                        <div class="card-product-info-right">
                                            <div class="card-product-price">
                                                <span>$42</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="collection-slide swiper-slide">
                        <div class="collection-card">
                            <a href="#.">
                                <div class="product-card-image">
                                    <img src="./images/product-2.png" alt="Image">
                                    <div class="product-card-form">
                                        <form method="post">
                                            <button type="button">quick view</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="card-product-info">
                                    <div class="card-product-info-flex flex-class">
                                        <div class="card-product-info-left">
                                            <h5>Johny Crumbo T-Shirt</h5>
                                            <h6>Johny Crumbo</h6>
                                        </div>
                                        <div class="card-product-info-right">
                                            <div class="card-product-price">
                                                <span>$42</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="collection-slide swiper-slide">
                        <div class="collection-card">
                            <a href="#.">
                                <div class="product-card-image">
                                    <img src="./images/product-1.png" alt="Image">
                                    <div class="product-card-form">
                                        <form method="post">
                                            <button type="button">quick view</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="card-product-info">
                                    <div class="card-product-info-flex flex-class">
                                        <div class="card-product-info-left">
                                            <h5>Johny Crumbo Cap (Black)</h5>
                                            <h6>Johny Crumbo</h6>
                                        </div>
                                        <div class="card-product-info-right">
                                            <div class="card-product-price">
                                                <span>$42</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="collection-slide swiper-slide">
                        <div class="collection-card">
                            <a href="#.">
                                <div class="product-card-image">
                                    <img src="./images/product-2.png" alt="Image">
                                    <div class="product-card-form">
                                        <form method="post">
                                            <button type="button">quick view</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="card-product-info">
                                    <div class="card-product-info-flex flex-class">
                                        <div class="card-product-info-left">
                                            <h5>Johny Crumbo T-Shirt</h5>
                                            <h6>Johny Crumbo</h6>
                                        </div>
                                        <div class="card-product-info-right">
                                            <div class="card-product-price">
                                                <span>$42</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="collection-slide swiper-slide">
                        <div class="collection-card">
                            <a href="#.">
                                <div class="product-card-image">
                                    <img src="./images/product-1.png" alt="Image">
                                    <div class="product-card-form">
                                        <form method="post">
                                            <button type="button">quick view</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="card-product-info">
                                    <div class="card-product-info-flex flex-class">
                                        <div class="card-product-info-left">
                                            <h5>Johny Crumbo Cap (Black)</h5>
                                            <h6>Johny Crumbo</h6>
                                        </div>
                                        <div class="card-product-info-right">
                                            <div class="card-product-price">
                                                <span>$42</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="collection-slide swiper-slide">
                        <div class="collection-card">
                            <a href="#.">
                                <div class="product-card-image">
                                    <img src="./images/product-2.png" alt="Image">
                                    <div class="product-card-form">
                                        <form method="post">
                                            <button type="button">quick view</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="card-product-info">
                                    <div class="card-product-info-flex flex-class">
                                        <div class="card-product-info-left">
                                            <h5>Johny Crumbo T-Shirt</h5>
                                            <h6>Johny Crumbo</h6>
                                        </div>
                                        <div class="card-product-info-right">
                                            <div class="card-product-price">
                                                <span>$42</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="collection-slide swiper-slide">
                        <div class="collection-card">
                            <a href="#.">
                                <div class="product-card-image">
                                    <img src="./images/product-1.png" alt="Image">
                                    <div class="product-card-form">
                                        <form method="post">
                                            <button type="button">quick view</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="card-product-info">
                                    <div class="card-product-info-flex flex-class">
                                        <div class="card-product-info-left">
                                            <h5>Johny Crumbo Cap (Black)</h5>
                                            <h6>Johny Crumbo</h6>
                                        </div>
                                        <div class="card-product-info-right">
                                            <div class="card-product-price">
                                                <span>$42</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="collection-slide swiper-slide">
                        <div class="collection-card">
                            <a href="#.">
                                <div class="product-card-image">
                                    <img src="./images/product-2.png" alt="Image">
                                    <div class="product-card-form">
                                        <form method="post">
                                            <button type="button">quick view</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="card-product-info">
                                    <div class="card-product-info-flex flex-class">
                                        <div class="card-product-info-left">
                                            <h5>Johny Crumbo T-Shirt</h5>
                                            <h6>Johny Crumbo</h6>
                                        </div>
                                        <div class="card-product-info-right">
                                            <div class="card-product-price">
                                                <span>$42</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="collection-slide swiper-slide">
                        <div class="collection-card">
                            <a href="#.">
                                <div class="product-card-image">
                                    <img src="./images/product-1.png" alt="Image">
                                    <div class="product-card-form">
                                        <form method="post">
                                            <button type="button">quick view</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="card-product-info">
                                    <div class="card-product-info-flex flex-class">
                                        <div class="card-product-info-left">
                                            <h5>Johny Crumbo Cap (Black)</h5>
                                            <h6>Johny Crumbo</h6>
                                        </div>
                                        <div class="card-product-info-right">
                                            <div class="card-product-price">
                                                <span>$42</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="collection-slide swiper-slide">
                        <div class="collection-card">
                            <a href="#.">
                                <div class="product-card-image">
                                    <img src="./images/product-2.png" alt="Image">
                                    <div class="product-card-form">
                                        <form method="post">
                                            <button type="button">quick view</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="card-product-info">
                                    <div class="card-product-info-flex flex-class">
                                        <div class="card-product-info-left">
                                            <h5>Johny Crumbo T-Shirt</h5>
                                            <h6>Johny Crumbo</h6>
                                        </div>
                                        <div class="card-product-info-right">
                                            <div class="card-product-price">
                                                <span>$42</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="collection-view-more">
                    <a href="#.">View More</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
    {
        "name" : "Featured Collection",
        "settings": [
            {
                "type": "text",
                "id": "class",
                "label": "Class"
            },
            {
                "type": "text",
                "id": "heading",
                "label": "Heading",
                "default": "Sale Up to 50%"
            },
            {
                "type": "collection",
                "id": "collection",
                "label": "Collection"
            }
        ],
        "presets": [
            {
                "name" : "Featured Collection"
            }
        ]
    }
{% endschema %}