<section class="hero-banner-section" style="background-image: url('{{ section.settings.bg_image | image_url }}');">
<div class="container">
    <div class="hero-banner-main">
        <div class="hero-banner-flex flex-class">
            <div class="hero-banner-left">
                <div class="hero-banner-content">
                    {% if section.settings.heading %}                        
                        <h1 class="{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
                            {{ section.settings.heading }}
                        </h1>
                    {% endif %}
                    {% if section.settings.subheading != blank %}                        
                        <p class="{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
                            {{ section.settings.subheading }}
                        </p>
                    {% endif %}
                    {% render 'anchor-snippet', button_text: section.settings.button_text, button_url: section.settings.button_url, show_arrow: false %}
                </div>
            </div>
            <div class="hero-banner-right">
                <div class="banner-stripes">
                    {% render 'image-snippet-np', image: 'banner-stripes.png' , assetURL: true, lazyload: 'eager'  %}
                </div>
                <div class="banner-person {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
                    {% render 'image-snippet', image: section.settings.image, lazyload: 'eager'  %}
                </div>
            </div>
        </div>
    </div>
</div>
</section>

{% schema %}
    {
        "name" : "Banner",
        "settings": [
            {
                "type": "html",
                "id": "heading",
                "label": "Heading",
                "default": "cheeky merch inspired by <span>four-legged</span> friends"
            },
            {
                "type": "inline_richtext",
                "id": "subheading",
                "label": "Subheading",
                "default": "Shop cozy hoodies, stylish caps and shirts, we've got everything you need to show off your passion for pets."
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
            },
            {
                "type": "image_picker",
                "id": "bg_image",
                "label": "Background Image"
            },
            {
                "type": "header",
                "content": "Button"
            },
            {
                "type": "text",
                "id": "button_text",
                "label": "Button Text",
                "default": "Shop Now"
            },
            {
                "type": "url",
                "id": "button_url",
                "label": "Button URL"
            }
        ],
        "presets": [
            {
                "name": "Banner"
            }
        ]
    }
{% endschema %}