<section class="home-welcome-section bg-sky">
    <div class="container">
        <div class="home-welcome-main {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
            <div class="home-welcome-flex flex-class">
                <div class="home-welcome-left">                    
                    {% if section.settings.heading %}                        
                        <h2>
                            {{ section.settings.heading }}
                        </h2>
                    {% endif %}
                </div>
                <div class="home-welcome-right">
                    <div class="home-welcome-content">
                       {{ section.settings.text }}
                    </div>
                    <div class="home-welcome-readmore">
                        {% render 'anchor-snippet', button_text: section.settings.button_text, button_url: section.settings.button_url, show_arrow: false %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% schema %}
    {
        "name" : "Richtext",
        "settings": [
            {
                "type": "text",
                "id": "heading",
                "label": "Heading",
                "default": "Welcome to Johnny Crumbo!"
            },
            {
                "type": "richtext",
                "id": "text",
                "label": "Text"
            },
            {
                "type": "header",
                "content": "Button"
            },
            {
                "type": "text",
                "id": "button_text",
                "label": "Button Text",
                "default": "Shop Now"
            },
            {
                "type": "url",
                "id": "button_url",
                "label": "Button URL"
            }
        ],
        "presets": [
            {
                "name": "Richtext"
            }
        ]
    }
{% endschema %}