<section class="customer-testimonials-section">
    <div class="container">
        <div class="customer-testimonials-main">
            <div class="customer-testimonials-head">
                <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at porta arcu, id hendrerit est. Maecenas id dignissim dolor. Sed lorem ante,</h2>
            </div>
            <div class="customer-testimonials-container">
                <div class="customer-testimonials-flex flex-class">
                    <div class="customer-testimonials-left">
                        <div class="customer-testimonials-images-slider swiper-container">
                            <div class="swiper-wrapper">
                                <div class="customer-testimonials-image-slide swiper-slide">
                                    <img src="./images/testimonial-1.png" alt="Image">
                                </div>
                                <div class="customer-testimonials-image-slide swiper-slide">
                                    <img src="./images/testimonial-2.png" alt="Image">
                                </div>
                                <div class="customer-testimonials-image-slide swiper-slide">
                                    <img src="./images/testimonial-3.png" alt="Image">
                                </div>
                                <div class="customer-testimonials-image-slide swiper-slide">
                                    <img src="./images/testimonial-1.png" alt="Image">
                                </div>
                                <div class="customer-testimonials-image-slide swiper-slide">
                                    <img src="./images/testimonial-2.png" alt="Image">
                                </div>
                                <div class="customer-testimonials-image-slide swiper-slide">
                                    <img src="./images/testimonial-3.png" alt="Image">
                                </div>
                                <div class="customer-testimonials-image-slide swiper-slide">
                                    <img src="./images/testimonial-1.png" alt="Image">
                                </div>
                                <div class="customer-testimonials-image-slide swiper-slide">
                                    <img src="./images/testimonial-2.png" alt="Image">
                                </div>
                                <div class="customer-testimonials-image-slide swiper-slide">
                                    <img src="./images/testimonial-3.png" alt="Image">
                                </div>
                                <div class="customer-testimonials-image-slide swiper-slide">
                                    <img src="./images/testimonial-1.png" alt="Image">
                                </div>
                                <div class="customer-testimonials-image-slide swiper-slide">
                                    <img src="./images/testimonial-2.png" alt="Image">
                                </div>
                                <div class="customer-testimonials-image-slide swiper-slide">
                                    <img src="./images/testimonial-3.png" alt="Image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="customer-testimonials-right">
                        <div class="testimonial-heading">
                            <h2>Hear From Our Customers</h2>
                        </div>
                        <div class="testimonial-content-container">
                            <div class="testimonial-content-slider swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="testimonial-content-slide swiper-slide">
                                        <p>Johnny Crumbo is not just a brand; it's a movement. As an animal lover, I appreciate their dedication to giving back to organizations that help our furry friends. The shirts are super soft, & I love showing off my support for pets everywhere. Keep up the great work, Johnny Crumbo!</p>
                                        <div class="testimonial-info">
                                            <h6>Sarah - <span>verified customer</span></h6>
                                        </div>
                                    </div>
                                    <div class="testimonial-content-slide swiper-slide">
                                        <p>Johnny Crumbo is not just a brand; it's a movement. As an animal lover, I appreciate their dedication to giving back to organizations that help our furry friends. The shirts are super soft, & I love showing off my support for pets everywhere. Keep up the great work, Johnny Crumbo!</p>
                                        <div class="testimonial-info">
                                            <h6>Sarah - <span>verified customer</span></h6>
                                        </div>
                                    </div>
                                    <div class="testimonial-content-slide swiper-slide">
                                        <p>Johnny Crumbo is not just a brand; it's a movement. As an animal lover, I appreciate their dedication to giving back to organizations that help our furry friends. The shirts are super soft, & I love showing off my support for pets everywhere. Keep up the great work, Johnny Crumbo!</p>
                                        <div class="testimonial-info">
                                            <h6>Sarah - <span>verified customer</span></h6>
                                        </div>
                                    </div>
                                    <div class="testimonial-content-slide swiper-slide">
                                        <p>Johnny Crumbo is not just a brand; it's a movement. As an animal lover, I appreciate their dedication to giving back to organizations that help our furry friends. The shirts are super soft, & I love showing off my support for pets everywhere. Keep up the great work, Johnny Crumbo!</p>
                                        <div class="testimonial-info">
                                            <h6>Sarah - <span>verified customer</span></h6>
                                        </div>
                                    </div>
                                    <div class="testimonial-content-slide swiper-slide">
                                        <p>Johnny Crumbo is not just a brand; it's a movement. As an animal lover, I appreciate their dedication to giving back to organizations that help our furry friends. The shirts are super soft, & I love showing off my support for pets everywhere. Keep up the great work, Johnny Crumbo!</p>
                                        <div class="testimonial-info">
                                            <h6>Sarah - <span>verified customer</span></h6>
                                        </div>
                                    </div>
                                    <div class="testimonial-content-slide swiper-slide">
                                        <p>Johnny Crumbo is not just a brand; it's a movement. As an animal lover, I appreciate their dedication to giving back to organizations that help our furry friends. The shirts are super soft, & I love showing off my support for pets everywhere. Keep up the great work, Johnny Crumbo!</p>
                                        <div class="testimonial-info">
                                            <h6>Sarah - <span>verified customer</span></h6>
                                        </div>
                                    </div>
                                    <div class="testimonial-content-slide swiper-slide">
                                        <p>Johnny Crumbo is not just a brand; it's a movement. As an animal lover, I appreciate their dedication to giving back to organizations that help our furry friends. The shirts are super soft, & I love showing off my support for pets everywhere. Keep up the great work, Johnny Crumbo!</p>
                                        <div class="testimonial-info">
                                            <h6>Sarah - <span>verified customer</span></h6>
                                        </div>
                                    </div>
                                    <div class="testimonial-content-slide swiper-slide">
                                        <p>Johnny Crumbo is not just a brand; it's a movement. As an animal lover, I appreciate their dedication to giving back to organizations that help our furry friends. The shirts are super soft, & I love showing off my support for pets everywhere. Keep up the great work, Johnny Crumbo!</p>
                                        <div class="testimonial-info">
                                            <h6>Sarah - <span>verified customer</span></h6>
                                        </div>
                                    </div>
                                    <div class="testimonial-content-slide swiper-slide">
                                        <p>Johnny Crumbo is not just a brand; it's a movement. As an animal lover, I appreciate their dedication to giving back to organizations that help our furry friends. The shirts are super soft, & I love showing off my support for pets everywhere. Keep up the great work, Johnny Crumbo!</p>
                                        <div class="testimonial-info">
                                            <h6>Sarah - <span>verified customer</span></h6>
                                        </div>
                                    </div>
                                    <div class="testimonial-content-slide swiper-slide">
                                        <p>Johnny Crumbo is not just a brand; it's a movement. As an animal lover, I appreciate their dedication to giving back to organizations that help our furry friends. The shirts are super soft, & I love showing off my support for pets everywhere. Keep up the great work, Johnny Crumbo!</p>
                                        <div class="testimonial-info">
                                            <h6>Sarah - <span>verified customer</span></h6>
                                        </div>
                                    </div>
                                    <div class="testimonial-content-slide swiper-slide">
                                        <p>Johnny Crumbo is not just a brand; it's a movement. As an animal lover, I appreciate their dedication to giving back to organizations that help our furry friends. The shirts are super soft, & I love showing off my support for pets everywhere. Keep up the great work, Johnny Crumbo!</p>
                                        <div class="testimonial-info">
                                            <h6>Sarah - <span>verified customer</span></h6>
                                        </div>
                                    </div>
                                    <div class="testimonial-content-slide swiper-slide">
                                        <p>Johnny Crumbo is not just a brand; it's a movement. As an animal lover, I appreciate their dedication to giving back to organizations that help our furry friends. The shirts are super soft, & I love showing off my support for pets everywhere. Keep up the great work, Johnny Crumbo!</p>
                                        <div class="testimonial-info">
                                            <h6>Sarah - <span>verified customer</span></h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonials-controllers">
                                    <div class="testimonials-slider-arrows">
                                        <div class="swiper-button-prev">
                                            {% render 'slider-prev-arrow' %}
                                        </div>
                                        <div class="testimonials-pagination swiper-pagination"></div>
                                        <div class="swiper-button-next">
                                            {% render 'slider-next-arrow' %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="testimonials-thumbnails-container">
                            <div class="testimonials-thumbnails-slider swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="customer-testimonials-thumbnail-slide swiper-slide">
                                        <img src="./images/testimonial-1.png" alt="Image">
                                    </div>
                                    <div class="customer-testimonials-thumbnail-slide swiper-slide">
                                        <img src="./images/testimonial-2.png" alt="Image">
                                    </div>
                                    <div class="customer-testimonials-thumbnail-slide swiper-slide">
                                        <img src="./images/testimonial-3.png" alt="Image">
                                    </div>
                                    <div class="customer-testimonials-thumbnail-slide swiper-slide">
                                        <img src="./images/testimonial-1.png" alt="Image">
                                    </div>
                                    <div class="customer-testimonials-thumbnail-slide swiper-slide">
                                        <img src="./images/testimonial-2.png" alt="Image">
                                    </div>
                                    <div class="customer-testimonials-thumbnail-slide swiper-slide">
                                        <img src="./images/testimonial-3.png" alt="Image">
                                    </div>
                                    <div class="customer-testimonials-thumbnail-slide swiper-slide">
                                        <img src="./images/testimonial-1.png" alt="Image">
                                    </div>
                                    <div class="customer-testimonials-thumbnail-slide swiper-slide">
                                        <img src="./images/testimonial-2.png" alt="Image">
                                    </div>
                                    <div class="customer-testimonials-thumbnail-slide swiper-slide">
                                        <img src="./images/testimonial-3.png" alt="Image">
                                    </div>
                                    <div class="customer-testimonials-thumbnail-slide swiper-slide">
                                        <img src="./images/testimonial-1.png" alt="Image">
                                    </div>
                                    <div class="customer-testimonials-thumbnail-slide swiper-slide">
                                        <img src="./images/testimonial-2.png" alt="Image">
                                    </div>
                                    <div class="customer-testimonials-thumbnail-slide swiper-slide">
                                        <img src="./images/testimonial-3.png" alt="Image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
    {
        "name" : "Testimonials",
        "settings": [
            {
                "type": "inline_richtext",
                "id": "heading",
                "label": "Heading",
                "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at porta arcu, id hendrerit est. Maecenas id dignissim dolor. Sed lorem ante,"
            },
            {
                "type": "inline_richtext",
                "id": "review_heading",
                "label": "Review Heading",
                "default": "Hear From Our Customers"
            }
        ],
        "presets": [
            {
                "name": "Testimonials"
            }
        ]
    }
{% endschema %}