<section class="collection-grid-section">
    <div class="collection-grid-main">
        <div class="collection-grid-head section-head">
            {% if section.settings.heading %}                        
                <h2 class="black">
                    {{ section.settings.heading }}
                </h2>
            {% endif %}
        </div>
        <div class="collection-grid-flex flex-class">
            {% for block in section.blocks %}
                {% case block.type %}
                       {% when 'block' %}
                            {% if block.settings.heading != blank %} 
                                <div class="collection-grid-box">
                                    <div class="collection-grid-bg">
                                        {% render 'image-snippet', image: block.settings.image, lazyload: 'lazy'  %}
                                    </div>
                                    <div class="collection-grid-product-info">
                                        {% if block.settings.subtitle %}                        
                                            <h6>
                                                {{ block.settings.subtitle }}
                                            </h6>
                                        {% endif %}
                                        {% if block.settings.heading %}                        
                                            <h2>
                                                {{- block.settings.heading -}}
                                            </h2>
                                        {% endif %}
                                        {% render 'anchor-snippet', button_text: block.settings.button_text, button_url: block.settings.button_url, show_arrow: true %}
                                    </div>
                                </div>
                            {% endif %}
              {% endcase %}
            {% endfor %}
        </div>
    </div>
</section>

{% schema %}
    {
        "name" : "Collection Grid",
        "settings": [
            {
                "type": "text",
                "id": "heading",
                "label": "Heading",
                "default": "Sale Up to 50%"
            }
        ],
        "blocks": [
            {
                "name": "Block",
                "type": "block" ,
                "settings": [
                    {
                        "type": "text",
                        "id": "heading",
                        "label": "Title",
                        "default": "Johny Crumbo T-Shirt"
                    },
                    {
                        "type": "text",
                        "id": "subtitle",
                        "label": "Subtitle",
                        "default": "T-Shirt"
                    },
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Image"
                    },
                    {
                        "type": "header",
                        "content": "Button"
                    },
                    {
                        "type": "text",
                        "id": "button_text",
                        "label": "Button Text",
                        "default": "Buy Now"
                    },
                    {
                        "type": "url",
                        "id": "button_url",
                        "label": "Button URL"
                    }
                ]  
            }
        ],
        "presets": [
            {
                "name": "Collection Grid"
            }
        ]
    }
{% endschema %}