{%- paginate blog.articles by 6 -%}

  {%- for article in blog.articles -%}
    {% if forloop.first %}      
      <section class="featured-news-section {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        <div class="container">
            <div class="featured-news-main">
                <div class="featured-news-bg">                
                    {% assign article_alt = article.image | default : article.title %}
                    {% render 'image-snippet', image: article.image, alt: article_alt, lazyload: 'lazy'  %}
                </div>
                <div class="featured-news-container">
                    <div class="featured-news-content flex-class">
                        <div class="featured-news-info">
                            <div class="news-meta">
                                <span> {{ article.published_at |  time_tag: format: 'date' }} </span>
                            </div>
                            <h2><a href="{{ article.url }}"> {{ article.title }} </a></h2>
                        </div>
                        <div class="featured-news-link">
                            <a href="{{ article.url }}">
                            {% render 'image-snippet-np', image: 'right-arrow.svg', alt: 'navigation-arrow' , assetURL: true, lazyload: 'eager'  %}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </section>
    {% endif %}
  {%- endfor -%}


  
    <section class="news-grid-section">
      <div class="container">
          <div class="news-grid-main">
              <div class="news-grid-flex flex-class">
                {%- for article in blog.articles offset: 1 -%}
                 {% render 'custom-article-card', article: article, index: forloop.index, show_excerpt: section.settings.show_excerpt, show_date: section.settings.show_date,
                 show_author: section.settings.show_author %}
                {% endfor %}
              </div>
          </div>
          {%- if paginate.pages > 1 -%}
            {%- render 'pagination', paginate: paginate -%}
          {%- endif -%}
      </div>
  </section>

{%- endpaginate -%}

{% schema %}
{
  "name": "t:sections.main-blog.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.main-blog.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": true,
      "label": "t:sections.main-blog.settings.show_author.label"
    },
    {
      "type": "checkbox",
      "id": "show_excerpt",
      "default": false,
      "label": "Show Excerpt"
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-blog.settings.paragraph.content"
    }
  ]
}
{% endschema %}
