<section class="coll-banner-section" style="background-image: url(./images/banner-without-overlay.png);">
<div class="container">
    <div class="coll-banner-main">
        <div class="coll-banner-flex flex-class">
            <div class="coll-banner-left">
                <div class="coll-banner-content">
                    <h1>CONTACT US</h1>
                    <p>We love to hear from our customers. Whether you have questions, comments, suggestions, please do not hesitate to reach out.</p>
                </div>
            </div>
            <div class="coll-banner-right">
                <div class="banner-stripes">
                    <img src="./images/banner-stripes.png" alt="Image">
                </div>
                <div class="coll-banner-image">
                    <img src="./images/collection-banner.png" alt="Image">
                </div>
            </div>
        </div>
    </div>
</div>
</section>


{% schema %}
    {
        "name" : "Page Banner",
        "settings": []
    }
{% endschema %}